{% block body %}
    <h1>New contact form message recived</h1>
    <p>Check it inside your CMS messages list <a href="{{ url('admin_app_contactmessage_list', {}, true) }}">here</a>, or answer it directly <a
                href="{{ url('admin_app_contactmessage_answer', { id: contact.id }, true) }}">here</a></p>
    <br>
    <p>Good luck!</p>
{% endblock %}
