{% extends ':Frontend:homepage.html.twig' %}

{% block title %}{{ category.title }} · {{ parent() }}{% endblock %}

{% block body_head_title %}
    <div class="row">
        <div class="my-padding col-xs-12">
            <h1>{{ category.title }}</h1>
        </div>
    </div>
{% endblock %}
