{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h1>words, interviews, screenings and news</h1>
        </div>
    </div>
{% endblock %}
