// Imports
@import "../../../../../vendor/twbs/bootstrap/less/bootstrap.less";
@import "../../../../../vendor/components/font-awesome/less/font-awesome.less";
@import "bootstrap-media-lightbox.less";

// Variables
@white: #FFFFFF;
@black: #222222;
@grey:  #9FA1A1;
@lgrey: #F0F1F2;

// Gaps
@gap: 40px;
@big-gap: @gap * 2;
@small-gap: @gap / 2;

// Fonts
@icon-font-path: "/bundles/app/fonts/";
@fa-font-path:   "/bundles/app/fonts";
@font-face {
  font-family: 'american';
  src: url('@{fa-font-path}/AmericanTypewriter.eot');
  src: url('@{fa-font-path}/AmericanTypewriter.eot?#iefix') format('embedded-opentype'),
  url('@{fa-font-path}/AmericanTypewriter.ttf') format('truetype'),
  url('@{fa-font-path}/AmericanTypewriter.woff') format('woff'),
  url('@{fa-font-path}/AmericanTypewriter.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-family-sans-serif: "american", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Colors
@text-color: @black;
@link-color: @grey;
@link-hover-color: @black;

.c-grey {
  color: @grey;
}

.c-black {
  color: @black;
}

// Nodes
body {
  min-height: 300px;
  position: relative;
}

textarea {
  .resizable(vertical);
}

a, a:-webkit-any-link, a:-moz-any-link {
  .c-grey();
  text-decoration: none;
  &:visited, &:hover {
    text-decoration: line-through;
  }
  &:visited {
    .c-black();
  }
}

a:-webkit-any-link:visited, a:-moz-any-link:visited {
  text-decoration: line-through;
}

// My customs
.my-body {
  min-height: 300px;
}

.right-bordered {
  border-right: solid 1px @grey;
  &:last-child {
    border-right: none;
  }
}

.top-bordered {
  border-top: solid 1px @grey;
}

.bottom-bordered {
  border-bottom: solid 1px @grey;
}

.my-menu {
  li {
    &.current {
      a, a:visited {
        .c-grey();
        text-decoration: line-through;
      }
    }
    a, a:visited {
      .c-black();
      font-weight: bold;
      &:hover {
        .c-grey();
        text-decoration: line-through;
      }
    }
  }
}

.my-padding {
  padding: @small-gap;
}

.contact-form-padding {
  padding: @small-gap 7%;
}

.gap-bottom {
  margin-bottom: @small-gap;
}

.no-gap-top {
  margin-top: 0;
}

.no-gap-bottom {
  margin-bottom: 0;
}

.ad-col {
  padding-left: 0;
  padding-right: 0;
  &:hover {
    .ad-box {
      text-decoration: none;
      .my.carousel-inner {
        .opacity(0.35);
        .my.carousel-caption {
          display: inline-block;
        }
      }
    }
  }
  .ad-box {
    display: block;
    text-decoration: none;
    .my.carousel-inner {
      .opacity(1);
      .transition(.3s);
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
    .my.carousel-caption {
      display: none;
      top: 50%;
      text-shadow: none;
      font-size: @font-size-h1;
      padding: 0;
    }
    .ad {
      .title {
        .c-black();
        text-decoration: none;
      }
      h5 {
        .c-grey();
        line-height: 0.75;
      }
    }
  }
}

// Equal columns height hack
// http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}

.col-top {
  vertical-align: top;
}

.col-middle {
  vertical-align: middle;
}

.col-bottom {
  vertical-align: bottom;
}

